.resumeButton {
  color: white;
  background-color: #cfac30;
  border: none;
  font-size: 1.2rem;
  padding: 5px 7px 5px 7px;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Gothic {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.charcoal {
  color: #36454f
}

.imgHomePage {
  max-width: 10%;
  height: 10%;
}

.intro {
  background-color: #f1f1f1;
  padding-bottom: 20px;
  padding-top: 20px;
}

.socialMedia {
  padding-top: 20px;
  background-color: #f1f1f1;
}